body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    background-color: orange;
    
   
}
.logo {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
    
    
    background-color: lightgray;
}
.links {
    display: flex;
    gap: 10px;
}
.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 200px;
    background-color: gray;
    margin-top: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: center;
    align-items: flex-start;
    background-color: red;
    
}

.main-img {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    background-color: green;
}
.random {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100px;
    background-color: teal;
}
.quote {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100px;
    background-color: rgb(162, 102, 102);
}
.call {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100px;
    background-color: yellow;
    justify-content: center;
    align-items: center;
}
.blue {
    display: flex;
    flex-basis: 50%;
    min-height: 60px;
    background-color: blue;
}
.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 50px;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
}




/*body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
}
img {
  max-height: 200px;
  max-width: 200px;
}
figcaption {
  display: flex;
  text-align: center;
  flex-basis: auto;
}
.header {
  background-color: rgb(79, 79, 252);
  display: flex;
  justify-content: space-between;
}
.footer {
  display: flex;
  background-color: lightblue;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em 0 5em;
}

.quote {
  background-color: lightgray;
}
.links {
  display: flex;
  flex-basis: auto;
  gap: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
}
.top {
  display: flex;
  justify-content: space-between;
  background-color: rgb(79, 79, 252);
}
.random {
  display: flex;
  justify-content: center;
}

.cap {
  display: flex;
}

figure .fig {
  text-align: center;
}
