* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    background-color: orange;
    
   
}
.logo {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 50px;
    
    
    background-color: lightgray;
}
.links {
    display: flex;
    gap: 10px;
   

}
.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 200px;
    background-color: gray;
    
   
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
    background-color: red;
    flex-shrink:0;
    
}

.main-img {
    display: flex;
    flex-shrink: 1;
    flex-direction: row;
    flex-basis: 50%;
    background-color: green;
    padding-right: 100px;
}
.random {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    width: 100%;
    min-height: 100px;
    background-color: teal;
}
.imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.quote {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 100px;
    min-height: 100px;
    background-color: rgb(162, 102, 102);
}
.call {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100px;
    background-color: yellow;
    justify-content: center;
    align-items: center;
}
.blue {
    display: flex;
    flex-basis: 50%;
    min-height: 60px;
    background-color: #3882F6;
}
.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 50px;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
}
.web-photo {
    display:flex;
    
    max-width:464.5px;
   
    
}
.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.hero-2 {
    font-size: 18px;
    color: #E5E7EB;
}

/*body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
}
img {
  max-height: 200px;
  max-width: 200px;
}
figcaption {
  display: flex;
  text-align: center;
  flex-basis: auto;
}
.header {
  background-color: rgb(79, 79, 252);
  display: flex;
  justify-content: space-between;
}
.footer {
  display: flex;
  background-color: lightblue;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em 0 5em;
}

.quote {
  background-color: lightgray;
}
.links {
  display: flex;
  flex-basis: auto;
  gap: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
}
.top {
  display: flex;
  justify-content: space-between;
  background-color: rgb(79, 79, 252);
}
.random {
  display: flex;
  justify-content: center;
}

.cap {
  display: flex;
}

figure .fig {
  text-align: center;
}
